body * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  color: #ffffff;
}

.hero-section {
  background-color: #1e1a13;
  text-align: center;
}

h1 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
}

.bg-header {
  width: 1280px;
  height: 727px;
  padding-bottom: 0;
}

/*************seccion informacion********/

.info {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.iguana1 {
  width: 399px;
  height: 237px;
  margin-top: 45px;

}

.p_1 {
  margin:0;
  padding: 0;
  font-weight: 300;

  text-align: left;
}
.p_2{
    text-align: left;
    margin:0;
    padding: 0;
    font-weight: 300;

}

p {
  display: inline-block;
}
.parrafos{
  display: inline-block;
  width: 475px;
  height: 197px;
  margin-top: 76px;
  margin-bottom: 75px;
  margin-right: 106px;

}

/* seccion caracteristicas */
.caracteristicas {
  background-color: #1e1a13;
  height: 192px;


}

li{
  display: inline-block;
  font-weight: 300;


}
h2{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

#eye{
margin-left: 326px;
margin-bottom: 16.36px;
}

#hand{
  margin-left: 211.41px;
  margin-bottom: 16.2px;
}

#paint{
  margin-left: 255.66px;
  margin-bottom: 16px;
}



.tercerojo{
  margin-left: 320px;

}
.pacificas{
  margin-left: 190px;
}

.color{
  margin-left: 190px;
}

.iguanas_fotos{
  background-color: #000000;
  margin:0;
}

.iguana2{
  width: 316px;
height: 202px;
margin-left: 150px;
margin-top: 73px;
margin-bottom: 73px;
}
.iguana3{
  margin-left: 16px;
width: 316px;
height: 202px;
margin-top: 73px;
margin-bottom: 73px;
}

.iguana4{
  width: 316px;
height: 202px;
margin-left: 16px;
margin-top: 73px;
margin-bottom: 73px;
}

footer {
  background-color: #1e1a13;
  text-align: center;

}

.link{
  text-decoration: none;
  color: #ffffff;
  margin-top: 39px;
  margin-bottom: 39px;

}
a{
  text-decoration: none;
  color: #ffffff;
}
